<header class="blue-gradient-bg">
    <nav class="flex-row-spaceEvenly">
        <h1>Dev Resources</h1>
        <ul class="flex-row-center">
            <li><a href="/">Home</a></li>
            <li><a href="/login">login</a></li>
             <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>