<form action="/register" method="post">

    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" placeholder="please enter firstname"><br>

    <label for="lastnmae">lastname</label>
    <input type="text" name="lastname" placeholder="please enter lastname"><br>

    <label for="email">Email</label>
    <input type="text" name="email" placeholder="please enter your email"><br>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="please enter password"><br>

    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" placeholder="please enter confirm password"><br>

    <label for="age">age</label>
    <input type="text" name="age" placeholder="please enter your age"><br>

    <button type="submit">Submit</button>
</form>